<!DOCTYPE html>
<html>
<head>
	<title>Controller Test</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body ng-app="controllerTest">
	<main ng-controller="CartController as cart" class="container">
		<form name="cartForm">
			<label for="name">Name</label>
			<input type="text" name="name" ng-model="cart.newItem.name" class="form-control">
			<label for="price">Price</label>
			<input type="text" name="price" ng-model="cart.newItem.price" class="form-control">
			<button class="btn btn-primary" ng-click="cart.addItem()">Add Item to Cart</button>
		</form>
		<table class="table table-striped">
			<tr>
				<td>Name</td>
				<td>Price</td>
				<td>Quantity</td>
				<td>Total</td>
			</tr>
			<tr ng-repeat="item in cart.items">
				<td>{{ item.name }}</td>
				<td>{{ item.price | currency }}</td>
				<td><input type="text" name="quantity" ng-model="item.quantity" value="{{ quantity }}"></td>
				<td>{{ (item.quantity * item.price) | currency }}</td>
			</tr>
		</table>
	</main>
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/controllerTest.js"></script>
</body>
</html>