<!DOCTYPE html>
<html>
<head>
	<title>Model Test</title>
	<link rel="stylesheet" type="text/css" href="/css/model-test.css">
</head>
<body ng-app="modelTest">
	<form novalidate>
		<label for="first_name">First Name:</label>
    	<input type="text" id="first_name" ng-model="user.firstName" maxlength="255" required>

	    <label for="last_name">Last Name:</label>
	    <input type="text" id="last_name"  ng-model="user.lastName" maxlength="255" required>

	    <label for="birth_date">Birth Date:</label>
	    <input type="date" id="birth_date" ng-model="user.birthDate">

	    <label for="github">Github URL:</label>
	    <input type="text" id="github" ng-model="user.github" maxlength="255">

	    <select ng-model="user.image">
	    	<option ng-repeat="img in ['angular.png', 'angularjs.png', 'square.png']" value='/img/{{ img }}'>{{ img }}</option>
	    </select>
	</form>
	<div class="user">
		<h2>{{ user.firstName }} {{ user.lastName }}</h2>
		<p>{{ user.birthDate | date:'MMM dd, yyyy'}}<p>
		<p>{{ user.github }}</p>
		<p><img src="{{ user.image }}"></p>
	</div>

	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/modelTest.js"></script>
</body>
</html>